<style>
    #products { width: 333px; margin-top: 10px; }
    #cart { width: 333px; margin-top: 10px; }
    /* style the list to maximize the droppable hitarea */
</style>


<h3><%= @act.name.titleize %></h3>
<h3 hidden="true" id="act_id" value="<%= @act.id %>"><%= @act.id %></h3>

<h4>Date:</h4>
<ul>
  <%= @act.date.to_formatted_s(:long) %>
</ul>

<h4>Time of Show:</h4>
<ul>
  <%= @act.time.to_formatted_s(:time)  %>
</ul>

<h4>Associated Amoebas:</h4>
<ul id="associated">
  <% @act.amoebas.each do |amoeba| %>
  <li><%= link_to amoeba.name.titleize, amoeba_path(amoeba) %></li>
  <% end %>
</ul>

<%= link_to "Edit This Act", edit_act_path(@act) %>    |
<%= link_to "Cancel #{@act.name.titleize}", @act, method: :delete %><br><br>
<%= link_to 'Back', acts_path %>



<div id="products">
  <h4 class="ui-widget-header">Amoebas</h4>
  <div id="catalog" class="ui-widget-content">
    <div>
      <ul>
        <% @amoebas.each do |amoeba| %>
          <% if !@act.amoebas.include?(amoeba) %>
            <li data-id="<%= amoeba.id %>" class="position" id="<%= amoeba.id %>"value="<%= amoeba.name %>"><%= amoeba.name %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div id="cart">
  <h4 class="ui-widget-header">Act</h4>
  <div class="ui-widget-content">
    <ul id="new_amoebas">
        <li class="placeholder">Drag Amoebas Here to Add Them to the Act!</li>
    </ul>
  </div>
</div>
<br>
<button id="update_button">Update this Act!</button>